In [69]:
import pandas as pd

In [70]:
data=pd.read_csv('car_evaluation.csv') #Without headers

In [71]:
columns=['buying','maint','doors','persons','lug_boot','safety','cars'] #only headers 
#columns=['girish','imtiyaz','ajinkya','anurag','prakruthi','kunal','cars']

In [72]:
data.columns=columns

In [73]:
data.head()

  buying  maint doors persons lug_boot safety   cars
0  vhigh  vhigh     2       2    small    med  unacc
1  vhigh  vhigh     2       2    small   high  unacc
2  vhigh  vhigh     2       2      med    low  unacc
3  vhigh  vhigh     2       2      med    med  unacc
4  vhigh  vhigh     2       2      med   high  unacc

In [74]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   cars      1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [79]:
data.shape

(1727, 7)

In [75]:
#Converting data type string to integer 
buying={'vhigh':10, 'high':8, 'med':5, 'low':3}
data.buying=[buying[i] for i in data.buying]

maint={'vhigh':200, 'high':150, 'med':100, 'low':50}
data.maint=[maint[j] for j in data.maint]

doors={'2':2, '3':3, '4':4, '5more':6}
data.doors=[doors[k] for k in data.doors]

persons={'2':2, '4':4, 'more':5}
data.persons=[persons [l] for l in data.persons]

lug_boot={'big':800, 'med':500, 'small':250}
data.lug_boot=[lug_boot[m] for m in data.lug_boot]

safety={'high':5, 'med':4, 'low':3}
data.safety=[safety[n] for n in data.safety]

cars={'vgood':1, 'good':2, 'acc':3, 'unacc':4}
data.cars=[cars [o] for o in data.cars]

In [76]:
data.head(10)

   buying  maint  doors  persons  lug_boot  safety  cars
0      10    200      2        2       250       4     4
1      10    200      2        2       250       5     4
2      10    200      2        2       500       3     4
3      10    200      2        2       500       4     4
4      10    200      2        2       500       5     4
5      10    200      2        2       800       3     4
6      10    200      2        2       800       4     4
7      10    200      2        2       800       5     4
8      10    200      2        4       250       3     4
9      10    200      2        4       250       4     4

In [77]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   int64
 1   maint     1727 non-null   int64
 2   doors     1727 non-null   int64
 3   persons   1727 non-null   int64
 4   lug_boot  1727 non-null   int64
 5   safety    1727 non-null   int64
 6   cars      1727 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB